.happy-browsing {
	display: block;
	position: fixed;
	top: 0;
}

.happy-browsing p {

	z-index: 201;
	margin: 150px auto;
	position: relative;

	font-size: 20px;
	width: 50%;
	background: black;
	padding: 50px;
	border: 1px solid #ffea05;

}